.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  padding: 1.5rem;
  width: 80%;
  max-width: 1280px;
  border-radius: 20px;

  background: linear-gradient(45deg, #93c1fa, #54ffffcc);
  color: #fff;

  ul {
    margin: 0 1rem;
    list-style-type: none;

    li {
      a {
        color: #fff;
        text-decoration: dotted;
        margin-left: 1rem;

        &:hover {
          color: white;
          text-decoration: underline !important;
        }
      }
    }
  }

  @include sm {
    flex-direction: column;
  }
}
