.image-container {
  .main-image {
    width: 100%;

    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;

    &:hover {
      cursor: pointer;

      box-shadow: 0 2px 30px rgba(44, 52, 60, 0.6);
      -webkit-transform: translateY(-5px);
      -moz-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      -o-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }
}

.ReactModal__Content.ReactModal__Content--after-open {
  border-radius: 1rem !important;
  box-shadow: 0px 10px 20px rgba($color: #000000, $alpha: 0.25);
  height: 40rem !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .modal-image {
    width: 100%;
    max-width: 30rem;
    border-radius: 20px;
  }

  p {
    width: 75%;
  }

  @include sm {
    display: inline-block;

    p {
      width: 100%;
    }
  }
}
