body {
  main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    max-width: 1440px;
    // background-color: #fff;
    width: 80vw;
    margin: 0 auto;
    padding: 0.5rem;
    border-radius: 20px;

    @include sm {
      width: 95vw;
    }
  }

  .home {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    height: 40vh;

    @include sm {
      flex-direction: column;
      height: 100%;
    }

    h1 {
      font-size: 3rem;
      font-weight: bold;
    }

    .headings {
      h1,
      h2 {
        margin: 0;
        font-weight: normal;
      }

      @include sm {
        text-align: center;

        h1 {
          font-size: 2.5rem;
        }
        h2 {
          font-size: 1.4rem;
        }
      }
    }

    .logo {
      img {
        width: 150px;
        padding: 0 2rem;

        @include sm {
          width: 100px;
        }
      }

      @include sm {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .intro-image {
    width: 100%;
  }

  .m-content {
    width: 95%;
    background-color: #fff;
    border-radius: 20px;
    padding: 1rem;

    @include sm {
      margin-top: 1rem;
      h2 {
        margin-top: 0.5rem;
      }
    }
  }

  .events-slider {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 3rem;

    @include sm {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .facilities {
    width: 85%;
    margin: 0 auto;
    .image-modals {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .column {
        display: flex;
        flex-direction: column;
        width: 50%;
      }

      .image-container {
        padding: 0.5rem;
      }
    }

    @include sm {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .societies {
    align-items: center;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 2rem;

    .main-content {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    h2 {
      a {
        text-decoration: none;
        color: #000;
      }
    }

    @include sm {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .main-content {
        flex-direction: column;
      }
    }
  }

  .fests {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 2rem;

    .main-content {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .society-cards {
      .card {
        .intro {
          .image-container {
            .main-image {
              max-width: none;
            }
          }
        }

        @include sm {
          width: 20rem;
        }
      }
    }

    .fest {
      .card {
        width: 40%;

        @include sm {
          width: 20rem;
        }
      }
    }

    @include sm {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .main-content {
        flex-direction: column;
      }
    }
  }

  .fake-button {
    color: #fff;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: #26a69a;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-out;

    &:hover {
      background-color: #2bbbad;
    }
  }

  .points {
    background-color: #fff;
    border-radius: 20px;
    padding: 1rem;
  }

  .tabs {
    display: flex;
    flex-direction: row;
    .tab {
      margin: 1rem;
      color: #fff;
      text-decoration: none;
      padding: 1rem 2rem;
      border-radius: 1rem;
      background-color: #219287;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s ease-out;

      &:hover {
        background-color: #2bbbad;
      }
    }

    .active {
      background-color: #2bbbad;
    }

    @include sm {
      flex-direction: column;

      .tab {
        margin: 0.5rem;
      }
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 75vh;

    h1 {
      font-weight: 800;
      font-size: 3rem;
    }

    img {
      width: 70%;
      align-self: center;
    }

    .chart {
      height: 50rem;
    }
  }
}
