.office {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  padding: 1rem;

  .member {
    display: flex;
    flex-direction: row;
    align-items: center;

    h3 {
      margin-left: 2rem;
    }
  }
}

select {
  max-width: 500px;
  outline: 0;
  background-color: #219287;
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  color: #fff;
  &:active,
  &:focus {
    background-color: #219287;
    border: none;
  }
}
