.awssld {
  --slider-transition-duration: 360ms !important;

  --organic-arrow-thickness: 11px !important;
  --organic-arrow-color: #67ecfd !important;

  --control-bullet-active-color: #67ecfd !important;
  --control-bullet-color: #f44336 !important;
}
